PORT=8404
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nome-do-usuario
DB_PASSWORD=senha-de-usuario
DB_NAME=nome-dobanco
JWT_SECRET=chave-secreta
GOOGLE_CLIENT_ID=chave-secreta
GOOGLE_CLIENT_SECRET=chave-secreta
GOOGLE_CALLBACK_URL=http://localhost:8404/auth/google/callback